@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --colorPrimario: #fffFFF;
    --colorSecundario: #F1F3F4;
    --colorTerciario: #C4C4C4;
    --colorFont1: #3C4042;
    --colorFont2: #666A6E;
    --colorRojo:#D93025;
}

.main { 
    background-color: var(--colorPrimario);
    margin: 20px;
    border: solid 2px var(--colorSecundario);
    border-radius: 28px;
    display: flex;
    width: 600px;
    justify-content: center;
}

.main>section, form{
    width: 600px;
    margin: 10px;
    text-align: center;
}

.iniciar{    
    padding: 10px;
    margin: 10px;
    justify-content: center;    
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; 
    padding: 1px;
    color: var(--colorFont1);
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.625rem;     
    color: var(--colorFont2);
    text-align: center;
}

.entryText{
    border: 1px solid var(--colorTerciario);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.625rem;
    padding: 10px;
    margin: 10px;
}

.l-img{
    width: 4rem;
    height: 4rem;
}

.botonPrincipal{
    font-family: 'Roboto', sans-serif;
    background-color: var(--colorRojo);
    border: none;
    color:  var(--colorPrimario);
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.825rem;
    border-radius: 5px;
    position: absolute;
}
.botonSecundario{
    font-family: 'Roboto', sans-serif;
    background-color: var(--colorPrimario);
    border: none;
    color: var(--colorRojo);
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.625rem;
    border-radius: 5px;
}