
.o-main-container{
    border-bottom: solid 1px;
}

/* Up part for navBar*/
.o-up-navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.o-user-bar{

    display: flex;
    align-items: center;
}

.o-img{

    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

/* Down part for navBar*/

.o-button {
    border:none;
    border-bottom: solid 1px;
    transition-duration: 0.4s;
  }
  
  .o-button:hover {
    background-color: white; /* Green */
    color: #D93025;
  }

  .o-button:target{

    background-color: white; /* Green */
    color: #D93025;
  }