

/* Down part for navBar*/

.o-button {
    border:none;
    border-bottom: solid 1px;
    transition-duration: 0.4s;
  }
  
  .o-button:hover {
    background-color: white; /* Green */
    color: #D93025;
  }

  .o-button:target{

    background-color: white; /* Green */
    color: #D93025;
  }