.o-links{

    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
  }

  a:target {
    color: red;
    border: 1px solid red;
 }
 a:active {
    color: red;
    border: 1px solid red;
 }